.categories-title {
	color: #000000;
	font-size: 18px;
}

.categories-value {
	color: #7800ff;
	font-size: 18px;
}

.tags-value {
	color: #7800ff;
	border: 1px solid #7800ff;
	border-radius: 15px;
	padding: 5px;	
}